<!DOCTYPE html>
<meta charset="utf-8">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153639035-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153639035-1');
</script>
<meta name="description" content="I'm a high school senior with a passion for code. Here you can take a look at some of the things I've created and read about how I made them.">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i|Ubuntu+Mono:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/default.css">
<link rel="stylesheet" href="/main.css">
<header id="site-header">
    <h1 id="site-title">
        <a href="/">Jack Maurer</a>
    </h1>
    <nav id="site-nav">
        <ul>
            <li><a href="/about.html">About</a>
        </ul>
    </nav>
</header>
<div id="content">{{ content }}</div>
